<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="Views/styles.css">
    <title>Document</title>
</head>
<body>
    <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5_chnEhUTIbOv4IiPLmCDEcYthzPFw56hDQ&usqp=CAU)">

   
    <header>
        <h1 style="color: rgb(191, 150, 44);text-align: center;">Dans notre restaurant il a beaucoup des plats italiens mais tout d'abord en va parler un peut sur la gastronomie italienne:  </h1>
        <h2 style="color: rgb(219, 162, 40);">Quel est la gastronomie de l'Italie:</h2>
        <h3>Vous trouverez au menu des ragoûts copieux comme le savoureux Osso Bucco, des plats à base de riz et une abondance de viandes et de fromages.<br> Naples, c'est la pizza, les pâtes séchées, la sauce rouge épicée, les fruits de mer et les fleurs de courges frites.<br> Cette ville est la capitale culinaire de l'Italie du Sud.</h3>

    </header>
    <section>
        <h1 style="color: rgb(219, 162, 40);text-align: center;">Notres plats:</h1>
        <h1 style="color: rgb(219, 162, 40);">Fruits de mere:</h1>
        <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s72acaa1ea913605e/image/i2266f57b1aa82608/version/1460042326/image.jpg"  width="500" height="400" text-align="center" >
        <img src="https://previews.123rf.com/images/vvoennyy/vvoennyy1407/vvoennyy140701011/30249897-poisson-cru-et-les-fruits-de-mer-dans-de-la-glace-sur-le-march%C3%A9-de-la-rue-en-italie.jpg"  width="500" height="400" text-align="center">
        <img src="https://media.istockphoto.com/id/1156027693/fr/photo/steak-de-saumon-frais-avec-une-vari%C3%A9t%C3%A9-de-fruits-de-mer-et-dherbes.jpg?s=170667a&w=is&k=20&c=OJ57LWTozd1X1ge0SOgHWAf3DWugM3ZR37FGWFJ_yWE="  width="500" height="400" text-align="center">
        <h1 style="color: rgb(175, 123, 2);" >plats traditionnels italiens:</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6kGU3_Pm4w010znNpHq7Lj0R_Y93ViC9JgQ&usqp=CAU" width="500" height="400" text-align="center" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQScZhnQ0jGLwbhRG8PdwQHxWTxW6KAvsBusDqI_UAxUafBpZhN8-w4wpvfFeq1biHlQqg&usqp=CAU=" width="500" height="400" text-align="center" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5oQAynpfm1lYWIMAHUfWWS1gYMMEaJHSkXQ&usqp=CAU"  width="500" height="400" text-align="center" >
        <h1 style="color: rgb(219, 162, 40);">Pizza:</h1>
        <img src="https://content-images.weber.com/content/Pizza-italienne.png?w=725&auto=compress,format&blend=https://ux2cms.imgix.net/system-images/gray-overlay-large.png?bs=inherit&balph=0&bm=normal" width="500" height="400" text-align="center" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaYjPVnFLMGFzyi1d43IPJIhD57XR5aK8j_A&usqp=CAU" width="500" height="400" text-align="center" >
        <img src="https://dxm.dam.savencia.com/api/wedia/dam/transform/fix635d9eidk6m7s7xqzms51grtx5ipg1c1941a/800?t=resize&width=800" width="500" height="400" text-align="center" >
    </section>

   
</body>
</html>